@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}



/* Css of Banner section */
#hero{
    max-width: 1540px;
    background-image:linear-gradient(45deg, rgba(0, 0, 0, 0.355),transparent), url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.hero-content{
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    padding: 260px 0;
}

.subtitle{
    font-size: 28px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;

}

.title{
    font-size: 55px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 15px;

}

.description{
    font-size: 15px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
    
}

.banner-btn{
    background-color: #52C303;
    font-size: 16px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 18px 26px;
    border: none;
    border-radius: 8px;

}



/* Css of Brand Food section */
#brand-food{
    max-width: 1320px;
    margin: 0 auto;
    padding: 140px 0;
    text-align: center;
}

.b-fh3{
    font-size: 20px;
    color: #101010;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}

.b-fh1{
    font-size: 42px;
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.item{
    display: flex;
    gap: 10px;
}

.items img{
    margin-bottom: 32px;
}

.items-btn{
    background-color: #52C303;
    font-size: 18px;
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 10px 26px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.items-h4{
    font-size: 35px;
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.items-p{
    font-size: 18px;
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.b-fbtn-container{
    text-align: center;
}

.b-fbtn{
    background-color: #52C303;
    font-size: 16px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 18px 26px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}



/* Css of Last Section */
#last-section{
    display: flex;
    align-items: center;
    max-width: 1540px;

}


.l-s-img{
    width: 800px;
    margin-right: 70px;
}

.l-s-img img{
   background-size: cover;
   width: 800px;
   
}

.l-s-text{
    text-align: center;
}

.l-s-h1{
    font-size: 36px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.l-s-p{
    font-size: 20px;
    color: #101010;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 100px;
}

.l-s-h4{
    font-size: 26px;
    color: #101010;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}